In [1]:
import numpy as np
import pandas as pd
import os.path
import random
import re
import sqlite3

In [2]:
#salarios = pd.read_excel("C:/Users/UsuarioM/Desktop/SQLite/Soccer Salaries.xlsx")
#salarios

In [3]:
def get_path():
    try:
        from tkinter import Tk
        from tkFileDialog import askopenfilenames
    except:
        from tkinter import Tk
        from tkinter import filedialog
    Tk().withdraw() # we don't want a full GUI, so keep the root window from appearing
    filename = filedialog.askopenfilenames()[0] # show an "Open" dialog box and return the path to the selected file
    return filename

In [4]:
filename = get_path()
filename

'C:/Users/UsuarioM/Desktop/SQLite/Soccer Salaries.xlsx'

In [5]:
def readAllSheets(filename):
    if not os.path.isfile(filename):
        return None
    
    xls = pd.ExcelFile(filename)
    sheets = xls.sheet_names
    results = {}
    for sheet in sheets:
        results[sheet] = xls.parse(sheet)
        
    xls.close()
    
    return results, sheets

In [6]:
salarios, hojas = readAllSheets(filename)

In [7]:
salarios = pd.concat(salarios.values(), axis = 0)
salarios

,Rank,Player,Weekly Salary,Pos.,Age,Status,Length (Yrs),2018-19 Salary,2019-20 Salary,2020-21 Salary,...,2021-22 Cap,2022-23 Cap,2023-24 Cap,2019 Salary,2020 Salary,2021 Salary,2022 Salary,2023 Salary,Details,Date Signed
0,1.0,Alexis Sánchez (http://www.capology.com/soccer...,461765.0,LW,30.0,Reserve,4.0,24011806.0,24011806.0,24011806.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
1,2.0,Mesut Özil (http://www.capology.com/soccer/pla...,461765.0,AM,30.0,Starter,3.0,24011806.0,24011806.0,24011806.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
2,3.0,Gonzalo Higuaín (http://www.capology.com/socce...,400290.0,CF,31.0,Reserve,1.0,20815069.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
3,4.0,Paul Pogba (http://www.capology.com/soccer/pla...,382606.0,CM,26.0,Starter,3.0,19895496.0,19895496.0,19895496.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
4,5.0,Kevin De Bruyne (http://www.capology.com/socce...,303624.0,AM,27.0,Starter,5.0,15788422.0,15788422.0,15788422.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144,145.0,Karlie Samuelson (http://www.capology.com/bask...,NaN,G,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,Rest of Season,NaT
145,146.0,Maggie Lucas (http://www.capology.com/basketba...,NaN,G,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,Rest of Season,2018-08-19
146,147.0,Mercedes Russell (http://www.capology.com/bask...,NaN,C,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,Rest of Season,NaT
147,148.0,Rebecca Greenwell (http://www.capology.com/bas...,NaN,G,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,42027.0,44129.0,50433.0,NaN,NaN,Rookie Tender,NaT
148,149.0,Sydney Colson (http://www.capology.com/basketb...,NaN,G,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,Rest of Season,NaT

In [8]:
salarios = salarios[["Player", "Pos.", "2018-19 Salary"]].copy()
salarios

                                                Player Pos.  2018-19 Salary
0    Alexis Sánchez (http://www.capology.com/soccer...   LW      24011806.0
1    Mesut Özil (http://www.capology.com/soccer/pla...   AM      24011806.0
2    Gonzalo Higuaín (http://www.capology.com/socce...   CF      20815069.0
3    Paul Pogba (http://www.capology.com/soccer/pla...   CM      19895496.0
4    Kevin De Bruyne (http://www.capology.com/socce...   AM      15788422.0
..                                                 ...  ...             ...
144  Karlie Samuelson (http://www.capology.com/bask...    G             NaN
145  Maggie Lucas (http://www.capology.com/basketba...    G             NaN
146  Mercedes Russell (http://www.capology.com/bask...    C             NaN
147  Rebecca Greenwell (http://www.capology.com/bas...    G             NaN
148  Sydney Colson (http://www.capology.com/basketb...    G             NaN

[7795 rows x 3 columns]

In [9]:
salarios["Player"] = salarios["Player"].apply(lambda x : x.split(" (http")[0].lower())
salarios["Player"]

0         alexis sánchez
1             mesut özil
2        gonzalo higuaín
3             paul pogba
4        kevin de bruyne
             ...
144     karlie samuelson
145         maggie lucas
146     mercedes russell
147    rebecca greenwell
148        sydney colson
Name: Player, Length: 7795, dtype: object

In [10]:
salarios["Player"] = salarios["Player"].str.normalize("NFKD").str.encode("ascii", errors = "ignore").str.decode("utf-8")

salarios["Player"] = salarios["Player"].apply(lambda x : x.title())

salarios["Player"]

0         Alexis Sanchez
1             Mesut Ozil
2        Gonzalo Higuain
3             Paul Pogba
4        Kevin De Bruyne
             ...
144     Karlie Samuelson
145         Maggie Lucas
146     Mercedes Russell
147    Rebecca Greenwell
148        Sydney Colson
Name: Player, Length: 7795, dtype: object

In [11]:
salarios.dropna(inplace = True)
salarios

                   Player  Pos.  2018-19 Salary
0          Alexis Sanchez    LW      24011806.0
1              Mesut Ozil    AM      24011806.0
2         Gonzalo Higuain    CF      20815069.0
3              Paul Pogba    CM      19895496.0
4         Kevin De Bruyne    AM      15788422.0
...                   ...   ...             ...
1399  Devante Smith-Pelly  None        225000.0
1400       Xavier Ouellet  None        166666.0
1401          Ryan Murphy  None        137500.0
1402        Simon Despres  None       -337500.0
1403         Cody Hodgson  None       -458333.0

[4604 rows x 3 columns]

In [12]:
bbdd = get_path()

con = sqlite3.Connection(bbdd)

In [13]:

df_sql = pd.read_sql_query( """SELECT pl.player_name,
       pa.overall_rating
  FROM Player_Attributes pa
       JOIN
       Player AS pl ON pa.player_fifa_api_id = pl.player_fifa_api_id
 WHERE pa.date BETWEEN '2016-01-01' AND '2016-12-31'
 GROUP BY pa.player_fifa_api_id;""",con)

In [14]:
salarios = salarios.merge(df_sql, left_on= 'Player', right_on= 'player_name').drop('player_name', axis=1)

In [15]:
salarios

                Player Pos.  2018-19 Salary  overall_rating
0       Alexis Sanchez   LW      24011806.0              86
1      Gonzalo Higuain   CF      20815069.0              86
2           Paul Pogba   CM      19895496.0              86
3        Sergio Aguero   CF      15788422.0              88
4          Eden Hazard   LW      15396581.0              88
...                ...  ...             ...             ...
1193   Jonathan Ligali   GK        191129.0              68
1194  Mauro Goicoechea   GK        176427.0              72
1195     Valentin Vada   CM         66725.0              66
1196      Callum Booth    G        725000.0              65
1197       Jim O'Brien    C        650000.0              65

[1198 rows x 4 columns]

In [82]:
#Algoritmao Genetico
Poblacion= 100_000
genes= salarios.shape[0]
peso_maximo = 130_000_000
p_mutacion=0.1
p_cruce=0.9
peso_minimo = 100_000_000

In [83]:
nuestra_poblacion = []
individuo = [random.randint(0,1) for i in range(genes)]

In [84]:
sum(individuo)

606

In [85]:
def generar_poblacion (n_individuos, n_genes, pesos, peso_maximo):
    poblacion = list()
    
    while len(poblacion) < n_individuos:
        individuo = [1 for i in range(11)] + [0 for i in range(genes - 11)]
        np.random.shuffle(individuo)
        
        if peso_minimo < np.dot(individuo, pesos) < peso_maximo:
            poblacion.append(individuo)

    return poblacion

In [88]:
poblacion = generar_poblacion(100, genes, salarios["2018-19 Salary"], peso_maximo)
pd.DataFrame(poblacion)

KeyboardInterrupt:

In [51]:
def elegir_padre(poblacion, n_candidatos, valores):
    
    candidatos = random.sample(population = poblacion, k = n_candidatos)
    
    lista_valor = list()
    
    for num, individuo in enumerate(candidatos):
        lista_valor.append([num, np.dot(individuo, valores)])
    
    seleccion = sorted(lista_valor, key = lambda x : x[1])[-1]
    
    padre = candidatos[seleccion[0]]
    
    return padre

In [52]:
padre1 = elegir_padre(poblacion, 5, salarios["2018-19 Salary"])
padre2 = elegir_padre(poblacion, 5, salarios["2018-19 Salary"])

ValueError: Sample larger than population or is negative

In [53]:
def cruce(padre1, padre2, p_cruce, n_genes, pesos, peso_max, n_iteraciones = 0):
    
    if random.random() < p_cruce:
        
        peso_hijo1, peso_hijo2 = peso_max + 1, peso_max + 1

        hijo1 = list()
        while ((peso_hijo1 > peso_max) or (peso_hijo2 > peso_max))\
           and (n_iteraciones < 100)\
           and (sum(hijo1) != 11 or sum(hijo2) != 11):
            hijo1 = list()
            hijo2 = list()
            
            for i in range(n_genes):
                padre = random.randint(1, 2)
                if padre == 1:
                    hijo1.append(padre1[i])
                    hijo2.append(padre2[i])
                else:
                    hijo1.append(padre2[i])
                    hijo2.append(padre1[i])
            
            peso_hijo1 = np.dot(hijo1, pesos)
            peso_hijo2 = np.dot(hijo2, pesos)
            
            n_iteraciones += 1
            
        if ((peso_hijo1 > peso_max) or (peso_hijo2 > peso_max)) and (sum(hijo1) != 11):
            print("salio if")
            return padre1, padre2
        elif (peso_hijo1 < peso_max or peso_hijo2 < peso_max) and sum(hijo1) != 11:
            print("elif")
            return padre1, padre2
        else:
            print("else")
            return hijo1, hijo2
        
    return padre1, padre2

In [54]:
for i in range(100):
    hijo1, hijo2 = cruce(padre1, padre2, p_cruce, genes, salarios["2018-19 Salary"], peso_maximo)
    print(sum(hijo1), sum(hijo2))

NameError: name 'padre1' is not defined

In [55]:
def cruce(padre1, padre2, p_cruce, n_genes, pesos, peso_max, n_iteraciones = 0):
    
    if random.random() < p_cruce:
    
        peso_hijo1, peso_hijo2 = peso_max + 1, peso_max + 1

        while ((peso_hijo1 > peso_max) or (peso_hijo2 > peso_max)) or n_iteraciones < 100:

            k = random.randint(1, n_genes - 1)
            hijo1 = padre1[:k] + padre2[k:]
            hijo2 = padre2[:k] + padre1[k:]
            
            peso_hijo1 = np.dot(hijo1, pesos)
            peso_hijo2 = np.dot(hijo2, pesos)

            if (sum(hijo1) == 11) and ((peso_hijo1 < peso_max) and (peso_hijo2 < peso_max)):
                return hijo1, hijo2
            
            n_iteraciones += 1
    return padre1, padre2

In [56]:
for i in range(100):
    hijo1, hijo2 = cruce(padre1, padre2, p_cruce, genes, salarios["2018-19 Salary"], peso_maximo)
    print(sum(hijo1), sum(hijo2))

NameError: name 'padre1' is not defined

In [57]:
# def mutacion(probabilidad_mutacion, hijo1, hijo2, peso_max,  n_iteraciones = 0):
#     if random.random() < probabilidad_mutacion:
        
#         peso_hijo1, peso_hijo2 = peso_max + 1, peso_max + 1
        
#         while ((peso_hijo1 > peso_max) or (peso_hijo2 > peso_max)) and (n_iteraciones < 100) and sum(hijo1) != 11:

#             hijo1_copia = hijo1.copy()
#             hijo2_copia = hijo2.copy()
            
#             posicion = random.randint(0, 19)
            
#             if hijo1_copia[posicion] == 0:
#                 hijo1_copia[posicion] = 1
#             else:
#                 hijo1_copia[posicion] = 0
#             if hijo2_copia[posicion] == 0:
#                 hijo2_copia[posicion] = 1
#             else:
#                 hijo2_copia[posicion] = 0
                
#             peso_hijo1, peso_hijo2 = np.dot(hijo1_copia, pesos), np.dot(hijo2_copia, pesos)
            
#             n_iteraciones += 1
            
#         if (peso_hijo1 > peso_max) or (peso_hijo2 > peso_max):
#             return hijo1, hijo2
#         else:
#             return hijo1_copia, hijo2_copia

#     return hijo1, hijo2

In [58]:
def reemplazo(poblacion, hijo1, hijo2):
    # Reemplazo estacional con reemplazo aleatorio

    reemplazados = random.sample(population = poblacion, k = 2)

    for reemplazado in reemplazados:
        poblacion.remove(reemplazado)

    poblacion.append(hijo1)
    poblacion.append(hijo2)
    
    return poblacion

In [59]:
poblacion = reemplazo(poblacion, hijo1, hijo2)
# poblacion

NameError: name 'hijo1' is not defined

In [60]:
def mejor_individuo(poblacion, valores):
    
    lista_valor = list()

    for num, individuo in enumerate(poblacion):
        lista_valor.append([num, np.dot(individuo, valores)])

    seleccion = sorted(lista_valor, key = lambda x : x[1])[-1] # lista: [posicion, valor]

    mejor = poblacion[seleccion[0]]
  
    return mejor

In [61]:
# mejor_individuo(poblacion, salarios["2018-19 Salary"])

In [76]:
def algoritmo_genetico_mochila(n_poblacion, n_genes, probabilidad_cruce, probabilidad_mutacion, peso_max):
    
    lista_mejores_individuos = list()
    
    # Inicialización
    poblacion = generar_poblacion(n_poblacion, n_genes,salarios["2018-19 Salary"], peso_max)
    print("poblacion generada.")
    for generacion in range(100_000):
        if generacion % 1000 == 0:
            print(generacion)
        # Selección de padres
        k = 5
        padre1 = elegir_padre(poblacion, k, salarios["overall_rating"])
        padre2 = elegir_padre(poblacion, k, salarios["overall_rating"])

        # Cruce
        hijo1, hijo2 = cruce(padre1, padre2, probabilidad_cruce, n_genes, salarios["2018-19 Salary"], peso_max)

        # Mutación
        #hijo1, hijo2 = mutacion(probabilidad_mutacion, hijo1, hijo2, peso_max)

        # Reemplazo
        poblacion = reemplazo(poblacion, hijo1, hijo2)
        
        lista_mejores_individuos.append(mejor_individuo(poblacion, salarios["overall_rating"]))
    
    return lista_mejores_individuos

In [89]:
%%time
mejores_individuos = algoritmo_genetico_mochila(50, genes, p_cruce, p_mutacion, peso_maximo)

poblacion generada.
0
1000
2000
3000
4000
5000
6000
7000
8000
9000
10000
11000
12000
13000
14000
15000
16000
17000
18000
19000
20000
21000
22000
23000
24000
25000
26000
27000
28000
29000
30000
31000
32000
33000
34000
35000
36000
37000
38000
39000
40000
41000
42000
43000
44000
45000
46000
47000
48000
49000
50000
51000
52000
53000
54000
55000
56000
57000
58000
59000
60000
61000
62000
63000
64000
65000
66000
67000
68000
69000
70000
71000
72000
73000
74000
75000
76000
77000
78000
79000
80000
81000
82000
83000
84000
85000
86000
87000
88000
89000
90000
91000
92000
93000
94000
95000
96000
97000
98000
99000
Wall time: 28min 49s

In [90]:
# mejores_individuos

In [91]:
np.dot(mejores_individuos[-1], salarios["2018-19 Salary"])

126144181.0

In [92]:
np.dot(mejores_individuos[-1], salarios["overall_rating"])/11

81.45454545454545

In [93]:
sum(mejores_individuos[-1])

11

In [94]:
salarios.iloc[[num for num, i in enumerate(mejores_individuos[-1]) if i == 1], :]

                      Player Pos.  2018-19 Salary  overall_rating
3              Sergio Aguero   CF      15788422.0              88
29   Alex Oxlade-Chamberlain   RM       8232619.0              78
108            Ryan Bertrand   LB       4802361.0              78
278              David Alaba   LB      11270948.0              85
326            Jeffrey Bruma   CB       3392820.0              78
515         Samir Handanovic   GK       6701950.0              84
698           Afriyie Acquah   CM       1047250.0              73
756            Thiago Cionek   CB        628803.0              70
782             Sergio Ramos   CB      22618800.0              87
797             Arturo Vidal   CM      10178460.0              85
996                   Neymar   LW      41481748.0              90

In [95]:
[num for num, i in enumerate(mejores_individuos[-1]) if i == 1]

[3, 29, 108, 278, 326, 515, 698, 756, 782, 797, 996]